<div class="ui page container">
<div class="ui inverted segment">
    <div class="ui icon message">
        <i class="university icon"></i>
        <div class="content">
            <div class="header">
                Université de Caen Normandie
            </div>
            <p>Votre Organisation</p>
        </div>
    </div>

    <div class="ui two columns grid">
        <div class="one column">
            <div class="ui segments">
                <div class="ui segment">
                <i class="users icon"></i>
                    Utilisateurs
                </div>
                <div class="ui blue segment">
                    <a class="ui inverted olive button"><i class="add icon"></i>Ajouter un utilisateur...</a>
                </div>
            </div>
        </div>
        <div class="second column">
            <div class="ui segments">
                <div class="ui segment">
                    <i class="people arrows icon"></i>
                    Groupes
                </div>
                <div class="ui blue segment">
                    <a class="ui inverted olive button"><i class="add icon"></i>Ajouter un groupe...</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
